[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-arrow-right-long{
	width: 12px;
	height: 5px;
	background: url(../img/icons/arrow-right-long.png) no-repeat center center;
}

.icon-bell{
	width: 12px;
	height: 12px;
	background: url(../img/icons/bell.png) no-repeat center center;
}

.icon-fast-delivery{
	width: 53px;
	height: 49px;
	background: url(../img/icons/fast-delivery.png) no-repeat center center;
}

.icon-play{
	width: 60px;
	height: 60px;
	background: url(../img/icons/play.png) no-repeat center center;
}

.icon-truck-8t{
	width: 52px;
	height: 37px;
	background: url(../img/icons/truck-8t.png) no-repeat center center;
}

.icon-building{
	width: 16px;
	height: 16px;
	background: url(../img/icons/building.png) no-repeat center center;
}

.icon-ground{
	width: 44px;
	height: 44px;
	background: url(../img/icons/ground.png) no-repeat center center;
}

.icon-quotes{
	width: 24px;
	height: 17px;
	background: url(../img/icons/quotes.png) no-repeat center center;
}

.icon-warning{
	width: 60px;
	height: 54px;
	background: url(../img/icons/warning.png) no-repeat center center;
}

.icon-clock{
	width: 44px;
	height: 44px;
	background: url(../img/icons/clock.png) no-repeat center center;
}

.icon-handshake{
	width: 60px;
	height: 50px;
	background: url(../img/icons/handshake.png) no-repeat center center;
}

.icon-road{
	width: 60px;
	height: 60px;
	background: url(../img/icons/road.png) no-repeat center center;
}

.icon-wheel{
	width: 16px;
	height: 16px;
	background: url(../img/icons/wheel.png) no-repeat center center;
}

.icon-close{
	width: 12px;
	height: 12px;
	background: url(../img/icons/close.png) no-repeat center center;
}

.icon-hours-24{
	width: 60px;
	height: 58px;
	background: url(../img/icons/hours-24.png) no-repeat center center;
}

.icon-years-5{
	width: 79px;
	height: 29px;
	background: url(../img/icons/years-5.png) no-repeat center center;
}

.icon-cube{
	width: 48px;
	height: 45px;
	background: url(../img/icons/cube.png) no-repeat center center;
}

.icon-location{
	width: 48px;
	height: 48px;
	background: url(../img/icons/location.png) no-repeat center center;
}

.icon-snowflake{
	width: 48px;
	height: 52px;
	background: url(../img/icons/snowflake.png) no-repeat center center;
}

.icon-diamond{
	width: 51px;
	height: 45px;
	background: url(../img/icons/diamond.png) no-repeat center center;
}

.icon-person{
	width: 13px;
	height: 15px;
	background: url(../img/icons/person.png) no-repeat center center;
}

.icon-square-10{
	width: 74px;
	height: 29px;
	background: url(../img/icons/square-10.png) no-repeat center center;
}

.icon-excavator{
	width: 60px;
	height: 48px;
	background: url(../img/icons/excavator.png) no-repeat center center;
}

.icon-person-big{
	width: 81px;
	height: 94px;
	background: url(../img/icons/person-big.png) no-repeat center center;
}

.icon-truck{
	width: 58px;
	height: 41px;
	background: url(../img/icons/truck.png) no-repeat center center;
}