.footer{
	background: $gray;

	.footer-line{
		display: flex;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		position: relative;

		.footer-block{
			padding: 0 15px;
		}

		&:after{
			content: '';
			display: block;
			width: calc(100% - 30px);
			left: 15px;
			height: 1px;
			position: absolute;
		}
	}

	.footer-top{
		padding: 45px 0 35px;

		.footer-block{
			border-right: 1px solid #4f4f4f;
			border-left: 1px solid #353535;
			flex: auto;
			// flex-basis: 100%;
			padding-top: 5px;
			padding-bottom: 5px;

			&:first-child{
				border-left: 0;
			}

			&:last-child{
				border-right: 0;
			}
		}

		.logo-block{
			margin-top: -12px;
		}

		&:after{
			bottom: 0;
			background: #4f4f4f;
		}
	}

	.footer-bottom{
		padding: 30px 0 35px;
		justify-content: space-between;
		align-items: center;

		.footer-block{
			flex: auto;
			flex-basis: 100%;
		}

		p{
			font-size: 16px;
			line-height: 1.5;
			color: #cfcfcf;
			font-family: $second-font;
		}

		&:after{
			top: 0;
			background: #353535;
		}
	}

	.footer-caption{
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 6px;
		font-size: 16px;
		line-height: 1.5;
	}

	.footer-contacts{
		padding-top: 15px;
		padding-bottom: 20px;
		font-family: $second-font;
		color: #cfcfcf;
		font-size: 16px;
		line-height: 1.5;

		a{
			color: #cfcfcf;
			text-decoration: underline;

			&:hover{
				color: $primary;
			}
		}
	}

	@media screen and (max-width: 991px){
		.footer-top{
			flex-wrap: wrap;
			margin-bottom: -35px;

			&:after{
				bottom: 33px;
			}

			.footer-block{
				flex-basis: 33.3333%;
				margin-bottom: 35px;

				&:nth-child(3n){
					border-right: 0;
				}

				&:nth-child(3n+1){
					border-left: 0;
				}
			}
		}
	}

	@media screen and (max-width: 575px){
		.footer-bottom{
			flex-direction: column;

			.footer-block{
				margin-bottom: 30px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

.webolution{
	transition: all $t;

	&:hover{
		opacity: .8;
	}

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}