.clients-slider{
	.slick-list{
		border: 1px solid #dedede;
	}

	.slick-slide{
		border-right: 1px solid #dedede;
	}

	.client-logo{
		// border: 1px solid #dedede;
		padding: 0 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 130px;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}