.our-partners-list{
	display: flex;
	width: 100%;
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;

	.item{
		flex: auto;
		flex-basis: 100%;
		padding: 0 15px;

		.item-caption{
			display: flex;
			align-items: flex-start;
			margin-bottom: 10px;
			font-size: 13px;
			line-height: 18px;
			font-weight: bold;
			text-transform: uppercase;
			color: $text-dark;

			i{
				display: block;
				margin-right: 10px;
			}
		}

		.item-text{
			font-family: $second-font;
		}
	}

	@media screen and (max-width: 767px){
		flex-wrap: wrap;

		.item{
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}